<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Volm</title>

        <link
            rel="stylesheet"
            href="{% static 'css/styles.css' %}"
            type="text/css"
        />
        <link 
            rel="stylesheet" 
            href="{% static 'volm/css/master.css' %}" 
        />
    </head>

    <body class="tw-container tw-mx-auto tw-bg-warmGray-100">
        <nav class="tw-mb-16">
            <ul class="tw-py-4 tw-text-3xl">
                <li class="tw-inline tw-text-5xl tw-font-bold">
                    <a 
                        class="tw-m-4 tw-text-gray-900 hover:tw-text-cyan-600"
                        href="{% url 'home' %}"
                    >
                        Volm
                    </a>
                </li>
                <li class="tw-inline">
                    <a 
                        class="tw_main_nav_a"
                        href="{% url 'home' %}"
                    >
                        Home
                    </a>
                </li>
                {% comment %} <li class="tw-inline">
                    <a 
                        class="tw_main_nav_a"
                        href="{% url 'orgs:org_list' %}"
                    >
                        Organisations
                    </a>
                </li> {% endcomment %}
                {% comment %} <li class="tw-inline">
                    <a 
                        class="tw_main_nav_a"
                        href="{% url 'workers:worker_list' %}"
                    >
                        Workers
                    </a>
                </li> {% endcomment %}

                {% if user.is_authenticated %}
                    <li class="tw-inline">
                        <a 
                            class="tw_main_nav_a"
                            href="{% url 'accounts:profile' %}"
                        >
                            My Profile
                        </a>
                    </li>
                    {% comment %} <li class="tw-inline">
                        <a 
                            class="tw_main_nav_a"
                            href="{% url 'orgs:org_new' %}"
                        >
                            New Org
                        </a>
                    </li>
                    <li class="tw-inline">
                        <a 
                            class="tw_main_nav_a"
                            href="{% url 'orgs:org_list' %}"
                        >
                            My Org's
                        </a>
                    </li>
                    <li class="tw-inline">
                        <a 
                            class="tw_main_nav_a"
                            href="{% url 'orgs:org_drafts' %}"
                        >
                            Draft Org's
                        </a>
                    </li> {% endcomment %}
                    <li class="tw-inline">
                        <a 
                            class="tw_main_nav_a"
                            href="{% url 'accounts:logout' %}"
                        >
                            Log Out
                        </a>
                    </li>
                    {% comment %} <li class="tw-inline-block tw-p-4">
                        Welcome {{ user.username }}
                    </li> {% endcomment %}
                {% else %}
                    <div class="tw-float-right">
                        <li class="tw-inline">
                            <a 
                                class="tw_main_nav_a"
                                href="{% url 'accounts:signup' %}"
                            >
                                Sign-up
                            </a>
                        </li>
                        <li class="tw-inline">
                            <a 
                                class="tw_main_nav_a"
                                href="{% url 'contact:contact_email' %}"
                            >
                                Contact
                            </a>
                        </li>
                        <li class="tw-inline">
                            <a 
                                class="tw_main_nav_a"
                                href="{% url 'login' %}"
                            >
                                Log-in
                            </a>
                        </li>
                    </div>
                {% endif %}
            </ul>

            <hr />
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>