{% extends "app/base.html" %}

{% block content %}
<div id="app">
	[[ message ]]
	[[jsVariable]]

    {{ django_template_variable|json_script:"djangoData" }}
</div>

<script>
    var jsVariable = JSON.parse(document.getElementById('djangoData').textContent)

    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#app',
        data: {
            message: 'Index page',
			jsVariable: jsVariable
        },
    })

    // app
    //     .$http
    //     .interceptors
    //     .push((request, next) => {
    //         const METHOD = request.method
    //         if (METHOD === 'POST') {
    //             request.headers.set('Authorization')
    //             request.headers.set
    //         }
    //     })
</script>

{% endblock %}