{% extends 'base.html' %}

<section>
    {% block content %}
        <header>
            {% block preprofile %}
                Offer your services by creating an advert

                <button class="tw_neutral_button tw-block tw-mt-2">
                    <a
                        class="tw_button_anchor"
                        href="{% url 'workers:worker_new' %}"
                    >
                        Create Advert
                    </a>
                </button>
            {% endblock %}
        </header>

        <div class="tw-mt-12 tw-space-y-4">
            {% block profile_content %}
                <ul>
                    {% for worker in object_list %}
                        <li>
                            {{ worker.pk }}
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>

        <footer class="tw-my-8">
            {% block postprofile %}{% endblock %}
        </footer>
    {% endblock %}
</section>