{% extends 'base.html' %}

<section>
    {% block content %}
        <header>
            {% block preprofile %}
                Offer your services by creating an advert

                <button class="tw_neutral_button tw-block tw-mt-2">
                    <a
                        class="tw_button_anchor"
                        href="{% url 'workers:worker_new' %}"
                    >
                        Create Advert
                    </a>
                </button>
            {% endblock %}
        </header>

        <section>
            <header>
                <h2>
                    Your address:
                </h2>
            </header>

            <div>
                {% if address %}
                    {{ address }}
                    <button class="tw_neutral_button tw_button_anchor">
                        <a href="{% url 'accounts:address_update' pk=address.pk %}">
                            UPDATE
                        </a>
                    </button>
                {% else %}
                    <button class="tw_neutral_button tw_button_anchor">
                        <a href="{% url 'accounts:address_new' %}">
                            ADD ADDRESS
                        </a>
                    </button>
                {% endif %}
            </div>
        </section>
            {% block profile_content %}
                <ul>
                    {% for worker in object_list %}
                        <li>
                            <a href="{% url 'workers:worker_detail' pk=worker.pk %}">
                                {{ worker.pk }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>

        <footer class="tw-my-8">
            {% block postprofile %}{% endblock %}
        </footer>
    {% endblock %}
</section>