{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>Draft list</h1>
    </header>

    {% for org in object_list %}
        <section>
            <header>
                <h1>
                    <a href="{% url 'orgs:org_detail' pk=org.pk %}">
                        {{ org.name }}
                    </a>
                </h1>
            </header>

            <p>
                {{ org.long_bio|truncatechars:200 }}
            </p>
            <p>
                Created on: {{ org.created|date:"D M Y" }}
            </p>
        </section>
    {% endfor %}
{% endblock %}