{% extends 'workers/worker_base.html' %}

{% block worker_content %}
    <form method="POST">
        {% csrf_token %}

        <fieldset>
            <legend class="tw-text-3xl">
                Update:
            </legend>

            <hr />

            <div class="tw-divide-y-2">
                
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="tw-py-8">

                        <label 
                            for="{{ field.id_for_label }}"
                            class="tw-text-gray-800 tw-text-xl tw-block"
                        >
                            {{ field.label }}:
                        </label>

                        {{ field }}

                        {% if field.help_text %}
                            <p class="tw-text-gray-600">
                                {{ field.help_text|safe }}
                            </p>
                        {% endif %}

                        {% for err in field.errors %}
                            <p class="tw-text-red-600">
                                {{ err }}
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            {{ form.non_field_errors }}

            <button 
                class="tw_neutral_button tw_button_anchor"
                type="submit"
            >
                SUBMIT
            </button>
        </fieldset>
    </form>
{% endblock worker_content %}