{% extends 'workers/worker_base.html' %}
{% load static worker_tags %}

{% block worker_content %}
    {% if user.is_authenticated %}
        Want to create your own advert?

        <button class="tw_neutral_button tw-block tw-mt-2">
            <a
                class="tw_button_anchor"
                href="{% url 'workers:worker_new' %}"
            >
                Create Advert
            </a>
        </button>
    {% endif %}

    {% for worker in object_list %}
        <section class="tw-max-w-sm tw-w-full sm:tw-max-w-full sm:tw-flex tw-mb-4">
            <div class="tw-border-2 tw-border-blue-400 tw-bg-yellow-100 tw-rounded tw-p-4 tw-flex tw-flex-col tw-justify-between tw-leading-normal tw-w-full">
                <div class="tw-mb-8">
                    <header class="tw-text-gray-900 tw-font-bold tw-text-3xl tw-mb-2">
                        <h1>
                            <a href="{% url 'workers:worker_detail' pk=worker.pk %}">
                                {{ worker.user.first_name }} {{ worker.user.last_name }} {% if worker.user.first_name or worker.user.last_name %}, {% endif %} {{ worker.main_skill }}
                            </a>
                        </h1>
                    </header>

                    <ul class="tw-text-gray-700">
                        <li>
                            {{ worker.title }}
                        </li>
                        <li>
                            {% if worker.remote_only %} 
                                {{ worker|get_verbose_name:'remote_only' }}
                            {% endif %}
                        </li>
                    </ul>
                </div>

                <div class="tw-flex tw-items-center tw-space-x-2">
                    {% for tag in worker.tags.all %}
                        <div class="tw-border-solid tw-border-2 tw-border-blue-300 tw-bg-transparent tw-p-1 tw-px-2 tw-rounded-full tw-text-xs tw-text-gray-800 tw-inline-block">
                            #{{ tag }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}